:root, html[data-theme="dark"] {
    --primary-bg: #1a1a1a;
    --primary-txt: white;
}

html[data-theme="light"] {
    --primary-bg: white;
    --primary-txt: #1a1a1a;
}

body, nav, .form-control, .form-control:focus {
    background-color: var(--primary-bg);
    color: var(--primary-txt);
}

a, a:hover, .nav-link, .nav-link:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.btn, .font-custom {
    letter-spacing: 2px;
}
